*
{
    padding:0;
    margin:0;
    font-family: sans-serif;
}
.menu-bar
{
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);
}
.nav-link 
{
    font-size: 16px;
    color:#fff !important;
    margin: 2px;
}
.navbar-nav
{
    text-align: right;
}

.menu-bar .navbar-toggler
{
    padding-right: 0;
    outline: none;
    border: none;
}

.banner
{
    height:80vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://source.unsplash.com/1600x900/?conference,presentation);
    background-size: cover;
    background-position: center;
    color: white;

}
.banner h1{
    padding-top: 170px;
    font-size: 50px;
    letter-spacing: 6px;
    text-shadow: 0 0 30px rgba(0,0,0,0.5);
}
.search-job
{
    margin: -50px 6% 50px;
    padding:30px 0;
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);
}
.search-job .form-control
{
    max-width: 250px;
    display:inline-flex;
    margin: 10px 5px;
    border-radius:0;

    box-shadow: none !important;
    border:none !important;
}
.search-job .btn-primary
 {
     border-radius: 0;
     box-shadow: none !important;
     border:none;
     display: inline-flex;
     margin: 5px;
     padding:5px 20px;

 }
 #recruiters 
 {
     padding-top: 50px;
     padding-bottom: 100px;
 }
 #recruiters h3
 {
     text-align: center;
     padding-bottom: 40px;
 }
  h3::before
 {
     content: '';
     background-image: linear-gradient(to right, #6db9ef, #7ce08a);
     width:50px;
     height:30px;
     position: absolute;
     z-index: -10;
     margin-top: -15px;
     border-top-left-radius: 70px;
     border-top-right-radius: 90px;
    }

    .image
    {
        text-align: center;
        padding-bottom: 20px;
    }
    .cointainer
    {
        padding-left: 50px;
    }
    .company-details{
        box-shadow: 0 2px 70px 0  rgba(110,130,208, .18);
        border-radius: 5px;
        margin-bottom: 5px;
    }
    .job-update
    {
        background:#ffff;
        padding:10px 20px;
        border-radius: 5px;
    }
    .job-update .fa
    {
        margin-top: 5px;
        margin-right: 10px;
        color:black;
    }
    .job-update .small
    {
        background: #efefef;
        padding:1px 5px;
        margin:0 5px;
    }
    .job-update p{
        margin-bottom: none !important;
    }
    .job-update a{
        color:rgba(0,0,0,0.5);
        text-decoration: none;
        float: right;
    }
    .apply-btn
    {
        height: 40px;
        width: 90%;
        background-image: linear-gradient(to right ,#6db9ef,#7ce08a);
        padding: 7px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
       
    }
    .apply-btn .btn-primary
    {

      
        align-self: right;
        float: right;
        border-radius: 0;
        box-shadow: none !important;
        background:transparent;
        border:1px solid #fff;
    }
    
    .pagination > li > a
    {
        background-color: white;
        color: #5A4181;
    }
    
    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover
    {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }
    
    .pagination > .active > a
    {
        color:red;
        background-color: #5A4181 !Important;
        border: solid 1px #5A4181 !Important;
    }
    
    .pagination > .active > a:hover
    {
        background-color: #5A4181 !Important;
        border: solid 1px #5A4181;
    }
.footer i{
    color: red;
}